---
import Section from "@/components/ui/Section.astro";
import MsContentUnit from "./MsContentUnit.astro";
import MsContentItem from "./MsContentItem.astro";
import { sortByLocus } from "@/lib/utils";
import DescriptionList from "../ui/DescriptionList.astro";
import DescriptionListItem from "../ui/DescriptionListItem.astro";
const { manuscript } = Astro.props;
---

<Section heading="Inhalt" id="msContent">
	{
		manuscript.cod_units.map((unit) => (
			<MsContentUnit unit={unit} showHeader={manuscript.cod_units.length > 1} />
		))
	}

	{
		manuscript.content.length > 0 && (
			<DescriptionList>
				<DescriptionListItem label="Einträge ohne kod. Einheit">
					{manuscript.content.sort(sortByLocus).map((item) => (
						<MsContentItem item={item} />
					))}
				</DescriptionListItem>
			</DescriptionList>
		)
	}
</Section>
