---
const { heading, id } = Astro.props;
---

<section
	aria-labelledby={id}
	class="border rounded-xs border-neutral-200 shadow-xs bg-brand-100 text-sm md:leading-7 md:text-base md:px-5"
>
	<details open>
		<summary class="text-xl cursor-pointer p-4 font-semibold text-brand-800" id={id}>
			{heading}
		</summary>
		<div class="px-3 text-brand-900">
			<slot />
		</div>
	</details>
</section>
