---
const { heading, id } = Astro.props;
---

<section
	aria-labelledby={id}
	class="border rounded-xs border-neutral-200 shadow-xs bg-brand-100 text-sm md:leading-7
	md:text-base md:p-5 p-4"
>
	<details open class="grid grid-cols-1 gap-2">
		<summary class="text-xl cursor-pointer font-semibold text-brand-800" id={id}>
			{heading ? heading : ""}
		</summary>
		<div class="grid grid-cols-1 gap-1.5 px-3 text-brand-900">
			<slot />
		</div>
	</details>
</section>
