---
import PageLayout from "@/layouts/page-layout.astro";
import NavLink from "@/components/nav-link.astro";
import { Icon } from "astro-icon/components";
import Article from "@/components/article.astro";
import stratajson from "@/content/data/strata.json";

import { processWorksData } from "@/lib/make-geojson.js";

export async function getStaticPaths() {
	const strata = Object.values(stratajson);
	const paths = strata.map((stratum) => {
		const stratumId = stratum.hit_id;

		return {
			params: { id: stratumId },
			props: { data: stratum },
		};
	});

	return paths;
}

const { data: stratum } = Astro.props;
---

<PageLayout title={stratum?.label}>
	<Article
		prevLink={`/strata/${stratum.prev.id}`}
		nextLink={`/strata/${stratum.next.id}`}
		mainTitle={stratum.label}
	>
		<div
			class="border-2 rounded-sm border-brandBrown bg-brand-100
			text-sm md:leading-7 md:text-base"
		>
			<section class="m-5 overflow-x-auto" aria-labelledby="workInfo">
				<h2 id="workInfo" class="text-xl font-semibold text-brand-800 mb-5">
					Allgemeine Info zum Stratum:
				</h2>
				<div class="md:grid grid-cols-[1fr_1fr] gap-5 items-start">
					<dl class="grid grid-cols-[1fr_6fr]"></dl>
				</div>
			</section>
		</div>
	</Article>
</PageLayout>
