---
import PageLayout from "../layouts/page-layout.astro";
---

<PageLayout title="About">
	<div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div class="prose max-w-screen-md">
			<h1 class="text-2xl font-semibold">About the Project</h1>
			<p>
				The HIT project is a collaborative project between the <a href="https://uni-tuebingen.de/"
					>Eberhard Karls University of Tübingen</a
				> and the <a href="https://www.oeaw.ac.at/">Austrian Academy of Sciences</a>. <a
					href="https://www.oeaw.ac.at/acdh/acdh-ch-home">ACDH-CH</a
				> is an associated research partner.
			</p>
			<p>
				The project aims to challenge current views on the cultural history of historiography in the
				Carolingian and post-Carolingian world (9th–12th centuries) through an innovative study of
				Salzburg and Freising, two major historical writing centers. It will explore how historical
				thinking, organization, and writing evolved from the 9th to the 12th century, focusing on
				new approaches to codifying historical knowledge and their impact on the conceptualization
				and meaning of history.
			</p>
			<p>
				Using recent advances in the study of the materiality of manuscript, the project will
				analyze how medieval historiographers worked with materials like parchment and pen, and how
				texts were written, combined, and contextualized in manuscripts. The investigation will
				consider the social context and intellectual environment of these productions, examining the
				interests involved and the impact of these codices on society.
			</p>
			<p>
				As part of the project all manuscript descriptions will be entered in a relational database
				and published in a web application. This will enable users to go beyond the standard data of
				the manuscript catalogue and to analyse the different chronological layers of the
				manuscripts, to display or visualise the connections between the manuscripts on the basis of
				palaeographic analyses (writing styles) and to investigate text filiation and dissemination.
			</p>
			<p>
				At the Eberhard Karls University of Tübingen, the project is led by Ksenia Borisova and
				supervised by <a
					href="https://uni-tuebingen.de/fakultaeten/philosophische-fakultaet/fachbereiche/geschichtswissenschaft/seminareinstitute/mittelalterliche-geschichte/personen/patzold/"
					>Steffen Patzold</a
				> (funded by the <a
					href="https://karten-t.dfg.de/gepris/projekt/524671186?context=projekt&task=showDetail&id=524671186&"
					>DFG</a
				>). At the Austrian Academy of Sciences the project is led by <a
					href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/mitarbeiterinnen/leon-puerstinger"
					>Leon Pürstinger</a
				> and supervised by <a
					href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/mitarbeiterinnen/maximilian-diesenberger/"
					>Maximilian Diesenberger</a
				> (funded by the <a href="https://www.fwf.ac.at/forschungsradar/10.55776/I6576 ">FWF</a>).
				The ACDH-CH team is providing the technical expertise and infrastructure to develop and host
				a web application for digital data collection and publication of the available data
				according to current best practices in the field.
			</p>
		</div>
	</div>
	<div class="prose max-w-screen-md py-5"></div>
	<div></div>
</PageLayout>
