---
import PageLayout from "../layouts/page-layout.astro";
---

<PageLayout>
	<div class="w-3/4 mx-auto my-4 grid gap-2">
		<h1>Case studies</h1>
		<article class="border rounded-sm">
			<h2 class="font-semibold text-2xl text-brandRed p-5">Case Study Salzburg</h2>
			<div class="p-5">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequuntur voluptas nam
				in, esse libero, voluptatum tempora velit vitae, quidem deserunt laborum id tempore nihil
				laudantium reiciendis culpa? Excepturi, sapiente!
			</div>
		</article>
		<article class="border rounded-sm">
			<h2 class="font-semibold text-2xl text-brandRed p-5">Case Study Freising</h2>
			<div class="p-5">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequuntur voluptas nam
				in, esse libero, voluptatum tempora velit vitae, quidem deserunt laborum id tempore nihil
				laudantium reiciendis culpa? Excepturi, sapiente!
			</div>
		</article>
	</div>
</PageLayout>
