---
import PageLayout from "../layouts/page-layout.astro"
---
<PageLayout>
    <div class="mx-auto w-full max-w-screen-xl px-16 py-4">
		<div class="prose max-w-screen-md">
			<h1 class="text-2xl font-semibold">About the database</h1>           
            <p>As part of the project all manuscript descriptions will be entered in a relational database and published in a web application. This will enable users to go beyond the standard data of the manuscript catalogue and to analyse the different chronological layers of the manuscripts, to display or visualise the connections between the manuscripts on the basis of palaeographic analyses (writing styles) and to investigate text filiation and dissemination.</p> 
		</div>
	</div>
	<div class="prose max-w-screen-md py-5">
		
	</div>
    <div></div>
</PageLayout>