---
import PageLayout from "@/layouts/page-layout.astro";
import GenrePieChart from "@/components/visualisations/GenrePieChart.svelte";
import GenreMap from "@/components/visualisations/GenreMap.svelte";
---

<PageLayout title="Explore">
	<div class="mx-auto w-full max-w-11/12 md:max-w-3/4 p-2 md:px-10 md:py-16">
		<div>
			<h1 class="text-4xl font-semibold text-brand-900">Dashboard für Visualisierungen</h1>
			<div class="grid gap-5 py-5">
				<h2 class="text-2xl font-semibold text-brand-600">Genre Grafiken</h2>
				<p class="font-light">
					Die Visualisierungen zeigen die Verteilung <span class="font-semibold"
						>historiographischer</span
					> Sub-Genres in den Handschriftenüberlieferungen. Es wurden bewusst keine Werke mit nicht-historiographischen
					Genres dargestellt, da das Projekt ausschließlich Handschriften mit historiographischen Werken
					erfasst. Eine Darstellung aller Genres wäre daher irreführend.
				</p>
				<h3 class="font-semibold text-xl text-brand-600 italic">
					Verteilung historiographischer Sub-Genres pro Schreibort
				</h3>
				<div class="md:grid grid-cols-[1fr_3fr] gap-6">
					<div class="font-light gap-2 flex flex-col">
						<p>
							Diese Tortendiagramm zeigt die Verteilung historiographischer Sub-Genres in den
							Handschriftenüberlieferungen von einem bestimmten Ort. Nach Auswahl eines Ortes
							(Schreiberort) Dargestellt ist die Anzahl der Überlieferungen pro Sub-Genre,
							gegliedert nach Jahrhunderten.
						</p>
						<p>
							<span class="font-semibold">Beispiel</span>: Die Grafik für die Abtei Saint-Bertin im
							10. Jh. zeigt den Eintrag „Chronik: 7 (29,17 %)“. Das bedeutet, dass an diesem Ort im
							10. Jh. sieben Werke verfasst wurden, die dem Genre „Chronik“ zuzuordnen sind. Dies
							entspricht 29,17 % aller historiographischen Werke, die für diesen Ort und dieses
							Jahrhundert nachgewiesen sind. [Stand der Daten: Januar 2026.]
						</p>
						<p>
							Die Zeitachse ermöglicht es, Veränderungen und Schwerpunkte der historiographischen
							Überlieferung über die Jahrhunderte hinweg nachzuvollziehen.
						</p>
					</div>
					<GenrePieChart client:load />
				</div>

				<hr />
				<h3 class="font-semibold text-xl text-brand-600 italic">
					Geographische Verteilung historiographischer Gattungen nach Jahrhunderten
				</h3>
				<div class="md:grid grid-cols-[1fr_3fr] gap-6">
					<div class="font-light gap-2 flex flex-col">
						<p>
							Die interaktive Karte visualisiert die räumliche Verteilung historiographischer Werke
							in Europa. Jeder Kreis (Tortendiagramm) repräsentiert einen Überlieferungsort. Die
							farbigen Segmente innerhalb der Kreise zeigen die jeweilige Gattungsverteilung (z. B.
							Chroniken, Annalen oder andere Subgenres) und erlauben einen direkten Vergleich der
							inhaltlichen Schwerpunkte zwischen verschiedenen Orten.
						</p>
						<p>
							Über das Auswahlmenü kann ein bestimmtes Jahrhundert gewählt werden. Dadurch lassen
							sich diachrone Entwicklungen nachvollziehen, regionale Konzentrationen erkennen und
							Veränderungen in der Gattungsstruktur im Zeitverlauf analysieren.
						</p>
					</div>
					<GenreMap client:load />
				</div>
			</div>
		</div>
	</div></PageLayout
>
