---
import PageLayout from "../layouts/page-layout.astro";
---
<PageLayout>
    <div class="md:w-3/4 p-5 mx-auto">
        <h2 class="text-2xl text-brandRed font-semibold">Schreiberhände</h2>
        <div id="tabulator-table"></div>
    </div>
    <script src="../lib/tabulator-search.js"></script>
</PageLayout>