---
import PageLayout from "../layouts/page-layout.astro";

---
<PageLayout>
    <main>
		<h2 class="text-2xl text-brandRed">Schreiberhände</h2>
		<div class="grid justify-normal content-start">
				<div id="example-table" class="bg-orange-400"></div>
			</div>
	</main>
</PageLayout>
<script src="../lib/tabulator-search.js">


</script>