---
import PageLayout from "../layouts/page-layout.astro";
import Button from "../components/button.astro"
import NavLink from "../components/nav-link.astro";
import { Image } from "astro:assets";
import clm210_91v_f from "../../public/assets/images/clm210_91v_f.jpg";

---
<PageLayout>
	<div class="md:grid mx-auto md:w-3/4 grid-cols-2 py-4 px-10 place-content-center gap-10">
		<div class="self-center">
			<div class="grid gap-2">
				<h1 class="self-center text-4xl font-semibold">Geschichte im Wandel | Histories in Transition</h1>
				<h2 class="self-center text-2xl italic">The Case of Freising and Salzburg (9th – 12th c.)</h2>
				<p class="py-3">This project seeks to rethink the cultural history of historiography in the Carolingian and post-Carolingian periods (9th–12th centuries) by focusing on two key centers - Salzburg and Freising. The project explores the evolution of historical thinking and writing, exploring how texts were written, combined, and contextualized in manuscripts, emphasizing the materiality of manuscripts and how medieval historiographers worked with materials like parchment and pen. It also examines the social and intellectual contexts that influenced these works. A central aspect of the project is the creation of a relational database, which will allow users to analyze and visualize the chronological layers and connections between manuscripts.</p>
				<Button><NavLink href="/about.html">About the project</NavLink></Button>
				<Button><NavLink href="/search.html">Explore the database</NavLink></Button>
			</div>

		</div>
		<figure class="md:grid gap-2 content-start hidden">
			<img src="/hit-astro/public/images/clm210_91v_f.jpg" alt="" class="object-contain w-full" loading="lazy" height="200px">
			<Image alt="Image from the manuscript BSB Clm 210, fol. 91v, showing personification of the months." src={clm210_91v_f}></Image>
			<figcaption class="font-extralight text-xs text-right">BSB, Clm. 210, fol. 91v</figcaption>
		</figure>		
	</div>
	
</PageLayout>