---
import PageLayout from "../layouts/page-layout.astro";
import NavLink from "../components/nav-link.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import clm210 from "../../public/images/clm210.jpg";
---

<PageLayout title="Home">
	<div class="md:grid grid-cols-2 py-10 px-10 place-content-center gap-10
	mx-auto md:w-3/4 sm:w-4/5">
		<div class="self-center">
			<div class="grid gap-2">
				<h1 class="self-center text-4xl font-semibold">
					Geschichte im Wandel | Histories in Transition
				</h1>
				<h2 class="self-center text-2xl italic">Freising and Salzburg (9th – 12th c.)</h2>
				<p class="py-3">
					Dieses Projekt versucht, die Kulturgeschichte der Geschichtsschreibung in der
					karolingischen und nachkarolingischen Zeit (9.-12. Jahrhundert) neu zu überdenken, indem
					es sich auf zwei Scriptorien - Salzburg und Freising - konzentriert. Das Projekt erforscht
					die Entwicklung des historischen Denkens und Schreibens und untersucht, wie Texte in
					Handschriften geschrieben, kombiniert und kontextualisiert wurden.
					<NavLink class="italic underline underline-offset-4 hover:text-brandRed" href="/about"
						>Mehr Info
						<Icon
							class="inline-flex align-baseline"
							aria-hidden="true"
							name="lucide:chevrons-right"
						/>
						<span class="sr-only">über das Projekt</span>
					</NavLink>
				</p>

				<p>
					Ein zentraler Aspekt des Projekts ist die Erstellung einer relationalen Datenbank, die es
					den Nutzern ermöglicht, die chronologischen Schichten und Verbindungen zwischen den
					Manuskripten zu analysieren und zu visualisieren.
				</p>
				<p class="text-brandRed font-semibold">
					<Icon class="inline-flex align-baseline" aria-hidden="true" name="lucide:construction" />
					Diese Anwendung befindet sich noch in der Entwicklung.
					<Icon class="inline-flex align-baseline" aria-hidden="true" name="lucide:construction" />
				</p>
				<p>
					Aktuell kann man durch die separaten Listen von
					<NavLink
						href="/manuscripts"
						class="underline underline-offset-4 hover:text-brandRed font-medium"
						>Handschriften</NavLink
					>,
					<NavLink
						href="/works"
						class="underline underline-offset-4 hover:text-brandRed font-medium">Werken</NavLink
					>,
					<NavLink
						href="/scribes"
						class="underline underline-offset-4 hover:text-brandRed font-medium">Schreiber</NavLink
					> und
					<NavLink
						href="/hands"
						class="underline underline-offset-4 hover:text-brandRed font-medium"
						>Schreiberhänden</NavLink
					> blättern oder die Manuskriptartikel (msItems) gefiltert <NavLink
						href="/search"
						class="underline underline-offset-4 hover:text-brandRed font-semibold">suchen</NavLink
					>.
				</p>
			</div>
		</div>
		<figure class="md:grid gap-2 content-start hidden">
			<Image
				alt="Abbildung aus dem Manuskript BSB Clm 210, fol. 91v, mit der Personifizierung der Monate."
				src={clm210}
			/>
			<figcaption class="font-extralight text-xs text-right">BSB, Clm. 210, fol. 91v</figcaption>
		</figure>
	</div>
</PageLayout>
