---
import PageLayout from "../layouts/page-layout.astro";
import NavLink from "../components/nav-link.astro";
import { Image } from "astro:assets";
import clm210 from "../../public/images/clm210.jpg";
---

<PageLayout title="Home">
	<div class="md:grid mx-auto md:w-3/4 grid-cols-2 py-10 px-10 place-content-center gap-10">
		<div class="self-center">
			<div class="grid gap-2">
				<h1 class="self-center text-4xl font-semibold">
					Geschichte im Wandel | Histories in Transition
				</h1>
				<h2 class="self-center text-2xl italic">
					The Case of Freising and Salzburg (9th – 12th c.)
				</h2>
				<p class="py-3">
					This project seeks to rethink the cultural history of historiography in the Carolingian
					and post-Carolingian periods (9th–12th centuries) by focusing on two key centers -
					Salzburg and Freising. The project explores the evolution of historical thinking and
					writing, exploring how texts were written, combined, and contextualized in manuscripts,
					emphasizing the materiality of manuscripts and how medieval historiographers worked with
					materials like parchment and pen. It also examines the social and intellectual contexts
					that influenced these works. A central aspect of the project is the creation of a
					relational database, which will allow users to analyze and visualize the chronological
					layers and connections between manuscripts.
				</p>
				<NavLink
					class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition text-center"
					href="/about">About the project</NavLink
				>
				<NavLink
					class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition text-center"
					href="/search">Explore the database</NavLink
				>
			</div>
		</div>
		<figure class="md:grid gap-2 content-start hidden">
			<Image
				alt="Abbildung aus dem Manuskript BSB Clm 210, fol. 91v, mit der Personifizierung der Monate."
				src={clm210}
			/>
			<figcaption class="font-extralight text-xs text-right">BSB, Clm. 210, fol. 91v</figcaption>
		</figure>
	</div>
</PageLayout>
