---
import PageLayout from "../layouts/page-layout.astro"; 
import works from "../content/data/works.json";
import msitems from "../content/data/ms_items.json";
import Button from "../components/button.astro";
import { Icon } from "astro-icon/components";

const msItems = Object.values(msitems)


---


<PageLayout>
  <style>
    /* To make the table rows striped */
    tr:nth-child(even) {
      background-color: #fff8f7;
    }
    tr:nth-child(odd) {
      background-color: #fcf1e8;
    }
   
  </style>

<div class="mx-auto p-4 lg:w-4/5">
		<div>
			<div class="flex justify-between align-middle mb-2">
        <h2 class="text-2xl font-semibold text-brandRed py-2">MS Items</h2>
        
        <Button id="download-btn">CSV <Icon aria-hidden="true" name="lucide:download" class="inline-flex"></Icon></Button>
        
    </div>
      <table id="hit-works-table" class="w-full text-brandBrown table-fixed shadow-md border lg:leading-7 text-sm lg:text-base data-table">
        <thead>
          <tr> 
            <th>                  
              <form role="search" data-search-form>
                <label class="flex flex-col items-start p-2">
                  <div>Titel</div>
                  <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                </label>
              </form>
            </th>
            <th>              
              <form role="search" data-search-form>
                <label class="flex flex-col items-start p-2">
                  <div>Author</div>
                  <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                </label>
              </form>
            </th>
            <th>              
                <form role="search" data-search-form>
                  <label class="flex flex-col items-start p-2">
                    <div>Dekoration</div>
                    <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                  </label>
                </form>
              </th>
            <th>             
              <form role="search" data-search-form >
                <label class="flex flex-col items-start p-2">
                  <div>Handschrift</div>
                  <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                </label>
              </form>
            </th>
            
            <th>             
                <form role="search" data-search-form>
                  <label class="flex flex-col items-start p-2">
                    <div>Entstehungsort</div>
                    <input type="search" name="q" placeholder="Suche ..." class="mt-2 w-full p-2 border border-gray-300 rounded font-normal">
                  </label>
                </form>
              </th> 
          </tr>
        </thead>
               
              
        <tbody>
            {msItems.map(item => (
                <tr tabindex="0">
                <td class="p-2">{item.title_work[0]?.title}</td>
            <td class="p-2">{item.title_work.map(work => work.author.map(aut => aut.name))}</td>
            <td class="p-2">{item.decoration.map(deco => deco.value)}</td>
                
   
    
    <td class="p-2">{item.manuscript[0]?.shelfmark[0].value}</td>
    <td class="p-2">{item.manuscript[0]?.orig_place.map(place => place.name)}</td>
             
              </tr>
             
            ))}
            
            
        </tbody>
             
            </table>
     
            
         
		</div>
	</div>
  <script src="../lib/table-search.js"></script>
</PageLayout>