---
import PageLayout from "../layouts/page-layout.astro";
import DownloadButtons from "../components/download-buttons.astro";
---

<PageLayout title="Schreiber">
	<div class="mx-auto p-4 lg:w-4/5">
		<div class="flex justify-between align-middle mb-5">
			<h1 class="text-2xl font-semibold text-brandRed py-2">Schreiber</h1>
			<DownloadButtons />
		</div>

		<div class="overflow-y-auto max-h-[1000px]">
			<div id="tabulator-table"></div>
		</div>
	</div><script>
		import { TabulatorFull as Tabulator } from "tabulator-tables";
		// import "tabulator-tables/dist/css/tabulator_bootstrap5.min.css";
		// import "tabulator-tables/dist/css/tabulator_simple.min.css";
		import "tabulator-tables/dist/css/tabulator_semanticui.min.css";
		// import "tabulator-tables/dist/css/tabulator_bulma.min.css";
		// import "tabulator-tables/dist/css/tabulator_materialize.min.css";

		import data from "../content/data/scribes.json";
		import {
			jsonpathLookup,
			jsonpathsLookup,
			jsonpathDistinctLookup,
			jsonpathGetCentury,
		} from "../lib/tabulator-utils.js";
		import { withBasePath } from "../lib/withBasePath";

		var tabledata = [...Object.values(data)];

		var table = new Tabulator("#tabulator-table", {
			headerFilterLiveFilterDelay: 600,
			height: 900,
			data: tabledata,
			layout: "fitColumns",
			responsiveLayout: "collapse",
			columns: [
				{
					title: "ID",
					field: "hit_id",
					width: 120,
					headerFilter: "input",
					formatter: "textarea",
				},
				{
					title: "Benennung",
					field: "name",
					headerFilter: "input",
					formatter: "textarea",
				},
				{
					title: "Hand",
					field: "hand",
					mutator: jsonpathLookup,
					mutatorParams: {
						path: "$[*].value",
						separator: "; ",
					},
					headerFilter: "input",
				},
				{
					title: "Datierung",
					field: "hands",
					mutator: jsonpathLookup,
					mutatorParams: {
						path: "$[*].hands_dated[*].dated[*].label",
						separator: "; ",
					},
					headerFilter: "input",
				},
				{
					title: "Gruppe",
					field: "group",
					sorter: "boolean",
				},
			],
		});

		//trigger download of data.csv file
		document.getElementById("download-csv")!.addEventListener("click", function () {
			table.download("csv", "data.csv");
		});

		//trigger download of data.json file
		document.getElementById("download-json")!.addEventListener("click", function () {
			table.download("json", "data.json");
		});

		//trigger download of data.html file
		document.getElementById("download-html")!.addEventListener("click", function () {
			table.download("html", "data.html", { style: true });
		});

		// event listeners set:
		// href to the work detail view page
		table.on("rowClick", function (e, row) {
			var data = row.getData();
			var url = withBasePath(`/scribes/${data["hit_id"]}`);
			window.open(url, "_self");
		});
	</script>
</PageLayout>
