---
import PageLayout from "../layouts/page-layout.astro";
// import "instantsearch.css/themes/satellite.css";
---

<PageLayout title="Search">
	<div class="grid mx-auto md:w-3/4 sm:w-4/5 py-4 gap-8">
		<h1 class="text-2xl font-bold text-brand-800">
			Erweiterte suche nach Manuskripteinträgen (MS-items):
		</h1>

		<div class="space-y-6 bg-white">
			<!-- Search Input and Stats -->
			<div id="searchbox" class="px-10 py-6 rounded-md border bg-brand-600 w-full"></div>

			<div class="grid md:grid-cols-[1fr_3fr] gap-6 px-5">
				<!-- Refinements Section -->
				<div>
					<div class="rounded-sm">
						<aside>
							<div id="refinement-list-work"></div>
							<div id="refinement-list-authors"></div>
							<div id="refinement-list-manuscripts"></div>
							<div id="refinement-list-library"></div>
							<div id="refinement-list-library-place"></div>
							<div id="refinement-list-orig-date"></div>
							<div id="refinement-list-orig-place"></div>
							<div id="refinement-list-provenance"></div>
							<div id="refinement-list-hands-role"></div>
							<div id="refinement-list-hands-function"></div>
							<div id="refinement-list-scribe-type"></div>
							<div id="refinement-list-decoration"></div>
						</aside>
					</div>
				</div>
				<div>
					<!-- Current Refinements -->
					<div class="grid grid-cols-[4fr_1fr] justify-between mr-5">
						<div id="current-refinements" class="text-sm text-gray-600"></div>
						<div id="clear-refinements" class="justify-self-end"></div>
					</div>
					<section class="space-y-3 mb-5">
						<!-- Stats and pagination -->
						<div class="grid grid-cols-[1fr_auto] items-center gap-8">
							<div id="stats-container" class="text-base italic text-brand-600"></div>
							<div id="pagination" class="flex justify-center"></div>
						</div>
						<!-- Results Section -->
						<div id="hits" class="bg-white rounded-sm shadow-sm"></div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<script src="../lib/advanced-search.js"></script>
</PageLayout>
