---
import PageLayout from "../layouts/page-layout.astro";
import "instantsearch.css/themes/satellite.css";
---

<PageLayout title="Search">
	<div class="grid mx-auto md:w-3/4 sm:w-4/5 py-4 gap-8">
		<h1 class="text-2xl font-bold text-brandRed">
			Erweiterte suche nach Manuskripteinträgen (MS-items):
		</h1>

		<div class="space-y-6">
			<!-- Search Input and Stats -->
			<div class="bg-brandRose p-4 rounded-sm shadow-sm">
				<div id="searchbox" class="mb-4"></div>
				<div class="flex items-center justify-between">
					<div id="stats-container" class="text-sm text-gray-600"></div>
					<div id="current-refinements" class="text-sm text-gray-600"></div>
					<div id="clear-refinements"></div>
				</div>
			</div>
			<div class="grid md:grid-cols-[1fr_3fr] gap-6">
				<!-- Refinements Section -->
				<aside class="bg-brandRose rounded-sm shadow-sm p-4">
					<div id="refinement-list-work"></div>
					<div id="refinement-list-authors"></div>
					<div id="refinement-list-manuscripts"></div>
					<div id="refinement-list-library"></div>
					<div id="refinement-list-library-place"></div>
					<div id="refinement-list-orig-date"></div>
					<div id="refinement-list-orig-place"></div>
					<div id="refinement-list-provenance"></div>
					<div id="refinement-list-hands-role"></div>
					<div id="refinement-list-hands-function"></div>
					<div id="refinement-list-scribe-type"></div>
					<div id="refinement-list-decoration"></div>
				</aside>
				<!-- Results Section -->
				<section class="space-y-3">
					<div id="pagination" class="flex justify-center"></div>
					<div id="hits" class="bg-white p-4 rounded-sm shadow-sm"></div>
				</section>
			</div>
		</div>
	</div>
</PageLayout>

<script src="../lib/advanced-search.js"></script>
