---
import PageLayout from "../layouts/page-layout.astro";
import DownloadButtons from "../components/download-buttons.astro";
import { Icon } from "astro-icon/components";
---

<PageLayout>
  <div class="mx-auto p-4 lg:w-4/5">
    <div>
      <div class="flex justify-between align-middle mb-2">
        <h2 class="text-2xl font-semibold text-brandRed py-2">Werke</h2>
        <DownloadButtons />
      </div>
    </div>
    <div class="overflow-y-auto max-h-[1000px]">
      <div id="tabulator-table"></div>
    </div>
  </div>
  <script>
    import { TabulatorFull as Tabulator } from "tabulator-tables";
    // import "tabulator-tables/dist/css/tabulator_bootstrap5.min.css";
    // import "tabulator-tables/dist/css/tabulator_simple.min.css";
    // import "tabulator-tables/dist/css/tabulator_semanticui.min.css";
    // import "tabulator-tables/dist/css/tabulator_bulma.min.css";
    import "tabulator-tables/dist/css/tabulator_materialize.min.css";
    import data from "../content/data/works.json";
    import { jsonpathLookup } from "../lib/tabulator-utils.js";

    var tabledata = [...Object.values(data)];

    var table = new Tabulator("#tabulator-table", {
      headerFilterLiveFilterDelay: 600,
      height: 800,
      data: tabledata,
      layout: "fitColumns",
      responsiveLayout: "collapse",
      columns: [
        { title: "Titel", field: "view_label", headerFilter: "input",  formatter:"textarea" },
        {
          title: "Autor",
          field: "author",
          mutator: jsonpathLookup,
          mutatorParams: {
            path: "$[*].name",
            separator: "; ",
          },
          headerFilter: "input",
        },

        {
          title: "Haupgenre",
          field: "genre",
          mutator: jsonpathLookup,
          mutatorParams: { path: "$..genre", reverse: true},
          headerFilter: "input",
        },
        {
          title: "Überlieferung",
          field: "related__ms_items",
          mutator: jsonpathLookup,
          mutatorParams: {
            path: "$..manuscript..shelfmark..value",
            separator: "; ",
          },
          headerFilter: "input",
        },
      ],
    });

    //trigger download of data.csv file
    document
      .getElementById("download-csv")!
      .addEventListener("click", function () {
        table.download("csv", "data.csv");
      });

    //trigger download of data.json file
    document
      .getElementById("download-json")!
      .addEventListener("click", function () {
        table.download("json", "data.json");
      });

    //trigger download of data.html file
    document
      .getElementById("download-html")!
      .addEventListener("click", function () {
        table.download("html", "data.html", { style: true });
      });

    // event listeners set:
    // href to the work detail view page
    table.on("rowClick", function (e, row) {
      var data = row.getData();
      var url = `works/${data["hit_id"]}`;
      window.open(url, "_self");
    });
  </script>
</PageLayout>
