
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.tei-c.org/ns/1.0 https://diglib.hab.de/rules/schema/mss/v1.0/cataloguing.xsd"
    version="5" xml:lang="deu">
    
    {% include "tei_header.njk" %}
    
    <text>
        <body>
            <p></p>
        </body>
    </text>
</TEI>