---
import { Icon } from "astro-icon/components";
---

<div class="hidden gap-3 md:flex">
	<button
		class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
		id="download-csv"
		>CSV <Icon aria-hidden="true" name="lucide:download" class="inline-flex" /></button
	>
	<button
		class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
		id="download-json"
		>JSON <Icon aria-hidden="true" name="lucide:download" class="inline-flex" /></button
	>
	<button
		class="border border-brandRed rounded-md py-2 px-4 bg-brandRed text-brandRose hover:bg-brandRose hover:text-brandRed transition"
		id="download-html"
		>HTML <Icon aria-hidden="true" name="lucide:download" class="inline-flex" /></button
	>
</div>
