---
import { Icon } from "astro-icon/components";
---

<div class="hidden gap-3 md:flex">
	<button
		class="border border-brand-800 rounded-md py-2 px-4 bg-brand-800 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
		id="download-csv"
		><span class="sr-only">Download table as </span>CSV <Icon
			aria-hidden="true"
			name="lucide:download"
			class="inline-flex"
		/></button
	>
	<button
		class="border border-brand-800 rounded-md py-2 px-4 bg-brand-800 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
		id="download-json"
		><span class="sr-only">Download table as </span>JSON <Icon
			aria-hidden="true"
			name="lucide:download"
			class="inline-flex"
		/></button
	>
	<button
		class="border border-brand-800 rounded-md py-2 px-4 bg-brand-800 text-brand-100 hover:bg-brand-100 hover:text-brand-800 transition"
		id="download-html"
		><span class="sr-only">Download table as </span>HTML <Icon
			aria-hidden="true"
			name="lucide:download"
			class="inline-flex"
		/></button
	>
</div>
