---
import NavLink from "./nav-link.astro";
import { Icon } from "astro-icon/components";
const pathname = Astro.url.pathname;
const base = import.meta.env.BASE_URL;
---

<header class="sticky top-0 z-50">
	<div class="bg-brandRed p-3 align-center flex justify-between">
		<div
			class="md:px-10 text-xl md:text-3xl text-brandIvory self-center tracking-wide
			uppercase underline-offset-8 decoration-brandRose py-2"
		>
			<NavLink href="/index.html"
				>Histories in transition
				<span class="hidden md:flex normal-case italic text-xl">
					The Case of Freising and Salzburg (9th – 12th c.)</span
				>
			</NavLink>
			<p class="text-yellow-400 font-semibold text-base normal-case italic">
				<Icon class="inline-flex align-baseline" aria-hidden="true" name="lucide:construction" />
				Diese Website ist noch im Aufbau.
				<Icon class="inline-flex align-baseline" aria-hidden="true" name="lucide:construction" />
			</p>
		</div>
		<nav aria-labelledby="primary-navigation" class="md:hidden">
			<button
				id="hamburger"
				class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm
				text-brandIvory rounded-lg md:hidden"
				aria-controls="navbar-default"
				aria-expanded="false"
			>
				<span class="sr-only">Open main menu</span>
				<svg
					class="w-5 h-5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 17 14"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 1h15M1 7h15M1 13h15"></path>
				</svg>
			</button>
		</nav>
		<nav
			aria-labelledby="primary-navigation"
			class="hidden md:flex items-center gap-x-4 text-brandIvory p-5"
		>
			<ul class="flex place-content-start gap-x-8 text-lg text-brandIvory">
				<li
					class={`${pathname === base + "/manuscripts" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/manuscripts">Handschriften</NavLink>
				</li>
				<li
					class={`${pathname === base + "/works" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/works">Werke</NavLink>
				</li>
				<li
					class={`${pathname === base + "/msitems" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/msitems">MS Elemente</NavLink>
				</li>
				<li
					class={`${pathname === base + "/scribes" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/scribes">Schreiber</NavLink>
				</li>
				<li
					class={`${pathname === base + "/hands" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/hands">Hände</NavLink>
				</li>
				<li
					class={`${pathname === base + "/search" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/search">Suche</NavLink>
				</li>
				<li
					class={`${pathname === base + "/about" ? "underline underline-offset-4 decoration-2 decoration-brandIvory" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brandIvory`}
				>
					<NavLink href="/about">Über das Projekt</NavLink>
				</li>
			</ul>
		</nav>
	</div>
	<div id="nav-links" class="hidden rounded-sm grid grid-cols-1 p-5 bg-brandRed">
		<NavLink
			class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory"
			href="/manuscripts"
		>
			Handschriften
		</NavLink>
		<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/works">
			Werke
		</NavLink>
		<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/scribes">
			Schreiber
		</NavLink>
		<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/hands">
			Schreiberhände
		</NavLink>
		<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/msitems">
			MS Elemente
		</NavLink>
		<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/search">
			Suche
		</NavLink>
		<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/about">
			Über uns
		</NavLink>
	</div>

	<script src="../lib/menu.js"></script>
</header>
