<footer class="flex justify-center gap-2 bg-brandRed text-brandIvory p-3">
<p>© Copyright OEAW</p>
<p> | </p>
        <p><a href="/imprint.html" class="underline decoration-dotted">Imprint</a></p>
        <p><a href="https://github.com/histories-in-transition/hit-astro">Code Repo</a></p>
</footer>