<header class="sticky top-0">
    <div class="bg-brandRed p-3 align-center flex justify-between">
        <span class="px-10 text-3xl text-brandIvory self-center tracking-wide uppercase underline underline-offset-8 decoration-brandRose py-2"><a href="index.html">Histories in transition</a></span>
        <nav-bar class="md:hidden">
            <button id="hamburger" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-brandIvory rounded-lg md:hidden" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>                     
        </nav-bar>
        <nav-bar class="hidden md:flex items-center gap-x-4 text-brandIvory">
            <ul class="flex place-content-start gap-x-8 text-base text-brandIvory">   
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandIvory"><a href="/manuscripts.html">Handschriften</a></li>
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandIvory"><a href="/case-studies.html">Case studies</a></li>
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandIvory"><a href="/database.html">Datenbank</a></li>
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandIvory"><a href="/about.html">Über das Projekt</a></li>
            </ul>
        </navbar>
    </div>
    <div id="nav-links" class="hidden rounded-sm grid grid-cols-1 p-5 bg-brandRed">        
        <a class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="">Works</a>
        <a class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/manuscripts.html">Manuscripts</a>
        <a class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/">Authors</a>
        <a class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/">Institutions</a>
        <a class="py-1 px-3 hover:underline underline-offset-4 text-brandIvory" href="/about.html">About</a>
    </div>  

<script src="../lib/menu.js"></script>
    
</header>