<header class="sticky top-0">
    <div class="hidden bg-brandRose pb-3 align-center md:flex justify-between">
        <span class="px-10 text-3xl text-brandRed self-center tracking-wide uppercase underline underline-offset-8 decoration-brandRed py-2"><a href="index.html">Histories in transition</a></span>
        <nav class="px-10 self-end">
            <ul class="flex place-content-start gap-x-8">   
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandRed"><a href="manuscripts.html">Manuscripts</a></li>
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandRed"><a href="case-studies.html">Case studies</a></li>
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandRed"><a href="database.html">Database</a></li>
                <li class="hover:underline underline-offset-4 decoration-2 decoration-brandRed"><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="md:hidden bg-brandRed flex justify-around">
        <span class="px-4 text-2xl text-brandIvory self-center tracking-wide uppercase"><a href="index.html">Histories in transition</a></span>
        <nav-bar class="self-center">
            <button id="menu-sidebar"><img src="/images/burger-menu.svg" class="w-5"></img></button>            
        </nav-bar>
    </div>
</header>