---
import NavLink from "./nav-link.astro";
import { Icon } from "astro-icon/components";
const pathname = Astro.url.pathname;
const base = import.meta.env.BASE_URL;
---

<header class="sticky top-0 z-50">
	<div class="bg-brand-800 align-center flex justify-between">
		<div
			class="md:px-6 text-xl md:text-3xl text-brand-50 self-center tracking-wide
			uppercase underline-offset-8 decoration-brand-100 p-2"
		>
			<NavLink href="/index.html" class="none">Histories in transition </NavLink>
			<p class="text-yellow-400 font-semibold text-sm normal-case italic flex items-center gap-2">
				<Icon aria-hidden="true" name="lucide:construction" />
				Diese Website ist noch im Aufbau.
				<Icon aria-hidden="true" name="lucide:construction" />
			</p>
		</div>
		<nav aria-label="primary-navigation" class="lg:hidden md:p-4">
			<button
				id="hamburger"
				class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm
				text-brand-50 rounded-lg"
				aria-controls="navbar-default"
				aria-expanded="false"
			>
				<span class="sr-only">Open main menu</span>
				<svg
					class="w-5 h-5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 17 14"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 1h15M1 7h15M1 13h15"></path>
				</svg>
			</button>
		</nav>
		<nav
			aria-label="primary-navigation"
			class="hidden lg:flex items-center gap-x-4 text-brand-50 p-5"
		>
			<ul class="flex place-content-start gap-x-8 text-lg text-brand-50">
				<li
					class={`${pathname === base + "/strata" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/strata">Strata</NavLink>
				</li>
				<li
					class={`${pathname === base + "/manuscripts" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/manuscripts">Handschriften</NavLink>
				</li>
				<li
					class={`${pathname === base + "/works" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/works">Werke</NavLink>
				</li>
				<li
					class={`${pathname === base + "/msitems" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/msitems">MS Elemente</NavLink>
				</li>

				<li
					class={`${pathname === base + "/scribes" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/scribes">Schreiber</NavLink>
				</li>
				<li
					class={`${pathname === base + "/hands" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/hands">Hände</NavLink>
				</li>

				<li
					class={`${pathname === base + "/about" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
					hover:underline underline-offset-4 decoration-2 decoration-brand-50`}
				>
					<NavLink class="none" href="/about">Über das Projekt</NavLink>
				</li>
			</ul>
			<form id="searchForm" class="hidden md:flex items-center gap-x-2">
				<input
					type="text"
					id="searchInput"
					class="hidden md:block px-2 w-64 rounded-md bg-brand-50 text-brand-800 focus:outline-none focus:ring-3 focus:ring-brand-600 italic text-base"
					placeholder="Autor, Werk, Handschrift ..."
					aria-label="suche nach Autor, Werk, Handschrift"
				/>
				<button
					id="searchButton"
					type="submit"
					class={`${pathname === base + "/search" ? "underline underline-offset-4 decoration-2 decoration-brand-50" : ""} 
				hover:underline underline-offset-4 decoration-2 decoration-brand-50`}>Suche</button
				>
			</form>
		</nav>
	</div>
	<ul id="nav-links" class="hidden rounded-xs grid grid-cols-1 p-5 bg-brand-800">
		<li>
			<NavLink
				class="py-1 px-3 hover:underline underline-offset-4 text-brand-50"
				href="/manuscripts"
			>
				Handschriften
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/works">
				Werke
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/scribes">
				Schreiber
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/hands">
				Schreiberhände
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/msitems">
				MS Elemente
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/strata">
				Strata
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/about">
				Über uns
			</NavLink>
		</li>
		<li>
			<NavLink class="py-1 px-3 hover:underline underline-offset-4 text-brand-50" href="/search">
				Suche
			</NavLink>
		</li>
	</ul>

	<script src="../lib/menu.js"></script>
	<script src="@/lib/search-link.js"></script>
</header>
