<header class="bg-fixed bg-brandRose">
<div class="flex justify-between px-16">
    <h1 class="text-5xl self-center tracking-wide uppercase underline underline-offset-8 decoration-slate-800"><a href="index.html">Histories in transition</a></h1>
    <img src="/images/imafo_logo_kurz_HP_var01b_96_230_v2.png">
</div>
<nav class="px-16 pb-3">
    <ul class="flex place-content-start gap-x-8">   
        <li class="hover:underline underline-offset-4">Manuscripts</li>
        <li class="hover:underline underline-offset-4">Case studies</li>
        <li class="hover:underline underline-offset-4">Index</li>
        <li class="hover:underline underline-offset-4"><a href="about.html">About</a></li>
    </ul>
</nav>
</header>