---
import { Icon } from "astro-icon/components";
---

<footer class="flex items-center gap-3 justify-center bg-brandRed text-brandIvory p-3">
	<span>© Copyright OEAW</span>
	<span>|</span>
	<span><a href="/imprint.html" class="underline decoration-dotted">Imprint</a></span>
	<span>|</span>
	<span>
		<a class="flex items-center" href="https://github.com/histories-in-transition/hit-astro">
			<span class="sr-only">Code Repo</span>
			<Icon aria-hidden="true" name="lucide:github" />
		</a>
	</span>
</footer>
