---
import "@fontsource-variable/inter";
import "@/styles/global.css";
import ScrollToTop from "@/components/scroll-to-top.astro";
import PageFooter from "@/components/page-footer.astro";
import PageHeader from "@/components/page-header.astro";
import BreadCrumbs from "@/components/breadcrumbs.astro";
interface Props {
	title?: string;
}

const { title = "Histories in transition" } = Astro.props;
---

<html class="h-full" lang="de">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light" />
		<meta charset="utf-8" />
		<title>HiT · {title}</title>
		<meta name="description" content="" />
		<link rel="stylesheet" href="https://unpkg.com/maplibre-gl@3.3.0/dist/maplibre-gl.css" />
	</head>
	<body class="min-h-screen grid grid-rows-[auto_1fr_auto] bg-brand-50 text-brand-950">
		<PageHeader />
		<main>
			{title !== "Home" && <BreadCrumbs />}
			<slot />
		</main>
		<PageFooter />
		<ScrollToTop />
	</body>
</html>
