---
const { sections } = Astro.props; // Array of { id, title }
---

<aside class="hidden md:block">
	<nav class="sticky top-50">
		<h2 class="font-bold text-xl tracking-wider text-brand-900 px-4 py-2">Inhalt</h2>
		<ul>
			{
				sections.map((section) => (
					<li class="px-4 py-2 text-brand-700 hover:underline underline-offset-4 decoration-dotted hover:text-brand-950  transition-colors">
						<a href={`#${section.id}`}>{section.title}</a>
					</li>
				))
			}
		</ul>
	</nav>
</aside>
